/*
Farben:
#002a5a,
#efe8d7,
#F4C4C4,
#282b29,
#7d2222,
#DEB873,
#D2D2D2,
#1d8883
*/

/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: athene;
    src: url(../fonts/Athene.otf);
  }

body {
    margin: 0;
    font-family: athene;
    font-weight: 100;
}

/* header nav */

header {
    position: fixed;
    width: 100%;
    border-bottom: 1px #282b29 solid;
    padding: 0 10%;
    color: #002a5a;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header p {
    display: inline-block;
}

header p:nth-of-type(2) {
    position: absolute;
    right: 10%;
}

/* hero */

#hero h1 span {
    text-align: center;
    border-bottom: 1px solid #002a5a;
    width: 70%;
    margin: 0 auto;
    font-size: 8em;
    display: block;
}

#hero {
    padding: 5% 0 0;
    background-color: #efe8d7;
    height: 120vh;
    color: #002a5a;
}

#hero figure {
    margin: 3.5% auto 0;
    width: 23.15%;
}

#hero figcaption span {
    font-family: 'Open Sans', sans-serif;
}

#hero figcaption {
    margin-top: 5%;
    font-size: 1.2em;
}

/* release */

#release {
    background: #F4C4C4;
    height: 180vh;
}

#release h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 5% 0 0 5%;
}

#release h2 {
    font-size: 10rem;
    font-weight: 100;
    margin-bottom: auto;
    line-height: 120%;
}

#release aside {
    position: absolute;
    width: 35%;
    right: 5%;
    font-family: 'Open Sans', sans-serif;
}

#release aside p {
    line-height: 200%;
}

#release table {
    margin-top: 20%;
}

#release table tr td {
    border-bottom: 1px #282b29 solid;
}

#release .erstezeile {
    text-align: right;
    font-size: .85rem;
}

#release .erstespalte {
    padding-right: 5%;
    font-size: .85rem;
    font-weight: 100;
}

#release tr td:nth-of-type(2) {
    padding: 10% 50% 10% 0;
    font-weight: 400;
}

#release tr td:nth-of-type(3) {
    text-align: right;
    font-size: .85rem;
}

#release aside img {
    width: 22%;
    position: absolute;
    right: 0;
    top: 110%;
}

/* works */